body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin: 0;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_icon,
.cart_icon {
    display: none;
}

.search_icon {
    margin-left: 41px;
}

.user_icon {
    margin-left: 25px;
    margin-right: 42px;
}

.top_brand {
    background: #F1E4E6;
    min-height: 363px;
}

.top_brand_left {
    display: none;
}

.top_brand_right {
    min-height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_promo {
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
}

.brand_promo :first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

.brand_promo :last-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.brand_promo span {
    color: #F16D7F;
}

.offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 248px)111px;
    gap: 32px;
    padding: 64px 16px;
}

.offer>div {
    position: relative;
}

.offer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.offer_title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.offer_title_top {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.offer_title_bottom {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.fetured {
    padding-left: 8px;
    padding-right: 8px;
}

.fetured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.fetured_subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 65px;
}

.fetured_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.fetured_item {
    background: #F8F8F8;
}

.fetured_item img {
    display: block;
    width: 100%;
}

.item_img_wrap {
    position: relative;
}

.fetured_item:hover .item_img_dark {
    display: flex;
}

.item_img_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.item_img_dark button {
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
}

.item_img_dark button img {
    width: 26px;
    height: 24px;
    margin-right: 11px;
}

.item_title_prise {
    margin: 25px 29px 20px 16px;
}

.title_prise_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;

}

.title_prise_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
}

.title_prise_prise {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.fetured_browse_btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    margin-bottom: 71px;
    padding: 14px 39px;
    font-family: inherit;
}

.fetured_browse_btn:hover {
    background: #F26376;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .header {
        padding: 18px 32px;
    }

    .user_icon,
    .cart_icon {
        display: inline;
    }

    .top_brand .container {
        display: flex;
    }

    .top_brand .container>div {
        width: 50%;
    }

    .top_brand_left {
        display: block;
    }

    .top_brand_left img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top_brand_right {
        min-height: 368px;
        justify-content: flex-start;
    }

    .brand_promo {
        margin-left: 39px;
    }

    .brand_promo :first-child {
        font-size: 44px;
        line-height: 53px;
    }

    .brand_promo :last-child {
        font-size: 24px;
        line-height: 29px;
    }

    .offer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 168px 116px;
        gap: 19px;
        padding: 65px 16px 110px 16px;
    }

    .offer_accesories {
        grid-column: 1/-1;
    }

    .fetured {
        padding-left: 16px;
        padding-right: 16px;
    }

    .fetured_items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1025px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }

    .top_brand_right {
        min-height: 764px;
    }

    .brand_promo {
        margin-left: 63px;
    }

    .brand_promo :first-child {
        font-size: 48px;
        line-height: 58px;
    }

    .brand_promo :last-child {
        font-size: 32px;
        line-height: 38px;
    }

    .offer {

        grid-template-rows: 260px 180px;
        gap: 30px;
        padding: 65px 0 96px 0px;
    }

    .fetured {
        padding-left: 0;
        padding-right: 0;
    }

    .fetured_items {
        grid-template-columns: repeat(3, 3fr);
        gap: 30px;
    }
}