body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header svg {
    fill: #E8E8E8;
    transition: fill 1s ease;
}

.header svg:hover {
    fill: #F16D7F;
}

.header svg:active {
    fill: #6b0753;
}

.logo:hover {
    opacity: 50%;
}

.user_icon,
.cart_icon {
    display: none;
}

.search_icon {
    margin-left: 41px;
}

.user_icon {
    margin-left: 25px;
    margin-right: 42px;
}

.top_brand {
    position: relative;
    background: #F1E4E6;
    min-height: 363px;
}

.menu {

    right: 0;
    top: 0;
    position: absolute;
    width: 232px;
    height: inherit;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-left: auto;
    padding: 32px 0 32px 32px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.title_menu {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.menu_unit {
    list-style: none;
    padding: 0;
}

.menu_unit_items {
    list-style: none;
    padding-left: 20px
}

.top_brand_left {
    display: none;
}

.menu_unit_items>li>a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #6F6E6E;
}

.menu_unit_items>li>a:hover {
    color: #F16D7F;
}

.menu_unit_items>li>a:active {
    color: #6b0753;
}

.subtitle_menu {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}


.top_brand_right {
    min-height: 363px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_promo {
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    text-transform: uppercase;
    word-break: break-all;
}

.brand_promo :first-child {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
}

.brand_promo :last-child {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.brand_promo span {
    color: #F16D7F;
}

.offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 248px)111px;
    gap: 32px;
    padding: 64px 16px;
}

.offer_women {
    background: url(../img/offer_women.jpg);
}

.offer_women::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
}

.offer_men {
    background: url(../img/offer_men.jpg);
}

.offer_men::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
}

.offer_kids {
    background: url(../img/offer_kids.jpg);
}

.offer_kids::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
}

.offer_accesories {
    background: url(../img/offer_accesories.jpg);
}

.offer_accesories::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
}


.offer>div {
    position: relative;
    background-position: center;
    background-size: cover;
    background-size: no-repeat;
}



.offer_title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.offer_title_top {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    word-break: break-all;
}

.offer_title_bottom {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    word-break: break-all;
}

.fetured {
    padding-left: 8px;
    padding-right: 8px;
}

.fetured h2 {
    margin-top: 0;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    word-break: break-all;
}

.fetured_subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 65px;
    word-break: break-all;
}

.fetured_items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.fetured_item {
    background: #F8F8F8;
}

.fetured_item img {
    display: block;
    width: 100%;
}

.item_img_wrap {
    position: relative;
}

.fetured_item:hover .item_img_dark {
    display: flex;

}

.item_img_dark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}

.item_img_dark button {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
}

.item_img_dark button:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000;
}

.item_img_dark button:hover svg {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000;
    fill: #000;
}

.item_img_dark button svg {
    width: 26px;
    height: 24px;
    margin-right: 11px;
    fill: #fff;
}

.item_img_dark button:active {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.item_img_dark button:active svg {
    background: transparent;
    border: none;
    fill: #fff;
}


.item_title_prise {
    margin: 25px 29px 20px 16px;
}

.title_prise_name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    word-break: break-all;

}

.title_prise_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
    word-break: break-all;
}

.title_prise_prise {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    word-break: break-all;
}

.fetured_browse_btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
    margin-bottom: 71px;
    padding: 14px 39px;
    font-family: inherit;
}

.fetured_browse_btn:hover {
    background: #F26376;
    color: #FFFFFF;
    transition: background-color 1s ease;
}

.fetured_browse_btn:active {
    background: transparent;
    color: #f26376;
}

.service {
    background: #222224;
    padding: 48px 13px 81px 13px;
}

.service .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 47px;
}

.service_unit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service_unit_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 27px;
    margin-bottom: 15px;
}

.service_unit_txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 316px;
}

.subscribe {
    background: url(../img/subscribe_bg.jpg) no-repeat;
    background-size: cover;
    min-height: 550px;
    position: relative;
}

.subscribe::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
    position: absolute;
}

.subscribe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 59px;
}

.subscribe_photo {
    margin-top: 64px;
    margin-bottom: 29px;
}

.subscribe_txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222224;
    max-width: 343px;
}

.subscribe_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #222224;
}

.subscribe_right h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    word-break: break-all;
}

.subscribe_right h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
    text-transform: uppercase;
    word-break: break-all;
}

form {
    max-width: 349px;
}

.subscribe_right_btn {
    display: flex;
    justify-content: center;
    min-height: 49px;
}

input[type="email"] {
    padding: 7px 10px 6px 23px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    outline: none;
}

input[type="email"]::placeholder {
    color: #8B8B8C;
}

input[type="email"]:focus {
    cursor: pointer;
}

.subscribe_btn {
    display: block;
    padding: 7px 20px 6px 21px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F16D7F;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.subscribe_btn:hover {
    background-color: #fff;
    color: #F16D7F;
    transition: background-color 1s ease;
}

.subscribe_btn:active {
    background-color: #F16D7F;
    color: #fff;
}

.footer {
    background: #222224;
    padding: 43px 0 9px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer_icon {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.footer_icon_item {
    text-decoration: none;
    min-height: 32px;
    min-width: 32px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icon_item:hover {
    background-color: #F16D7F;
    transition: background-color 1s ease;
}

.footer_icon_item:active {
    background-color: #fff;
}

.footer_icon svg {
    fill: #000000;
}

.footer_icon svg:hover {
    fill: #fff;
    transition: fill 1s ease;
}

.footer_icon svg:active {
    fill: #000000;
}

.footer_txt {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}


@media (min-width: 768px) {
    .header {
        padding: 18px 32px;
    }

    .user_icon,
    .cart_icon {
        display: inline;
    }

    .top_brand .container {
        display: flex;
    }

    .top_brand .container>div {
        width: 50%;
    }

    .top_brand_left {
        display: block;
    }

    .top_brand_left img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top_brand_right {
        min-height: 368px;
        justify-content: flex-start;
    }

    .brand_promo {
        margin-left: 39px;
    }

    .brand_promo :first-child {
        font-size: 44px;
        line-height: 53px;
    }

    .brand_promo :last-child {
        font-size: 24px;
        line-height: 29px;
    }

    .offer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 168px 116px;
        gap: 19px;
        padding: 65px 16px 110px 16px;
    }

    .offer_accesories {
        grid-column: 1/-1;
    }

    .fetured {
        padding-left: 16px;
        padding-right: 16px;
    }

    .fetured_items {
        grid-template-columns: 1fr 1fr;
    }

    .service {
        padding: 48px 204px 64px 204px;
    }


    .subscribe_left {
        margin-bottom: 48px;
    }

    .subscribe_txt {
        font-size: 20px;
        line-height: 24px;
        max-width: 360px;
    }

    .subscribe_right h2 {
        line-height: 39px;
    }

    .subscribe_right h4 {
        font-size: 18px;
        line-height: 29px;
    }

    .footer {
        display: block;
        padding: 0;

    }

    .footer .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }

    .footer_txt {
        margin-top: 0;
    }
}

@media (min-width: 1025px) {
    .container {
        margin: 0 auto;
        max-width: 1140px;
        width: 100%;

    }



    .top_brand_right {
        min-height: 764px;
    }

    .brand_promo {
        margin-left: 63px;
    }

    .brand_promo :first-child {
        font-size: 48px;
        line-height: 58px;
    }

    .brand_promo :last-child {
        font-size: 32px;
        line-height: 38px;
    }

    .offer {

        grid-template-rows: 260px 180px;
        gap: 30px;
        padding: 65px 0 96px 0px;
    }

    .fetured {
        padding-left: 0;
        padding-right: 0;
    }

    .fetured_items {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .service .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .service {
        padding: 104px 0;
    }

    .subscribe {
        min-height: 448px;
    }

    .subscribe .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 142px;
    }

    .subscribe_left {
        margin-top: 97px;
        margin-bottom: 126px;
        margin-right: 223px;
    }

    .subscribe_right {
        margin-top: 150px;
        margin-bottom: 156px;
    }

    .footer .container {
        justify-content: space-between;
    }
}